ul{
  list-style-type: none;
}
input {
  margin-bottom: 10px;
  margin-left: 10px;
}
select {
  margin-bottom: 10px;
  margin-left: 10px;
}
.cart {
  margin-top: 80px;
  border: 2px solid grey;
  border-radius: 5px;
}

.cart-item {
  font-size: 16px;
}

.cart-title {
  margin-top: 10px;
}

a{
  color: #1E90FF;
}

#payment-form #submit {
  flex: 1 50%;
}

.social-icon {
  height: 40px;
  width:40px;
  margin: 10px;
}

.nav-dot{
  color: #666;
}
.nav-label {
  color: #ccc;
}


.page {
  display: flex;
  flex-direction: row;
}

.order-form {
  flex: 1 1 50%;
  padding-right: 10px;
  padding-left: 10px;
  order: 1;
  margin: 0 auto;
}

.cart-payment {
  flex: 1 1 50%;
  padding-right: 10px;
  padding-left: 10px;
  order:2;
}

@media screen and (max-width: 650px){
  .page {
    flex-direction: column;
  }
  .cart-payment, .order-form {
    order: 0;
  }
}

#logo{
  -webkit-filter: invert(1);
  filter: invert(1);
  height:100%;
}

@media screen and (max-width: 650px){
  #logo{
    height:auto;
    width:100%;
  }
}

#tagline {
  font-weight: 600;
}
