ul{
  list-style-type: none;
}

.cart {
  margin-top: 80px;
  border: 2px solid grey;
  border-radius: 5px;
}

.cart-item {
  font-size: 16px;
}

.cart-title {
  margin-top: 10px;
}

#payment-form #submit {
  float:right;
}
