<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Village Bagel</title>

    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

  </head>

  <body>

      <div class="navbar-wrapper">
        <div class="container">

          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Village Bagel</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/our_company">Our Company</a></li>
                  <li><a href="/backdoor_bagels">Backdoor Bagels</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/order">Order</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">#BackDoorBagels. <br /><span class="text-muted">How it works.</span></h2>
            <p class="lead">I bake most mornings from 6ish-10ish at Mirabelle Restaurant in Avon
              (right through the Beaver Creek security gates on the left). My customers can buy
              fresh-out-of-the-oven bagels directly from me here. This is by far the freshest, most
              delicious way to enjoy Village Bagel. Pick up is behind the main entrance out of the kitchen door of
              the restaurant (hence "back door bagels"). You can buy any amount when you pick up at the kitchen.
              I take cash, checks, and cards. Text me <a href="tel: 19148868851">(914-886-8851)</a> the morning of to make sure I’m baking that
              day and to see how many extras I have, or <a href="/order"><strong>place your order ahead of time</strong></a> so I can have it ready when you get there.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
          <div class="col-md-7">
            <h2 class="featurette-heading">Select your bagels <br /><span class="text-muted">or get a "mixed dozen"</span></h2>
            <p class="lead">Choose from Sesame, plain, garlic, everthing, seasalt, poppy and
            onion.</p>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">And don't forget to choose a smear.</h2>
            <p class="lead">Choose from bacon, veggie, chive &amp; onion, honey rosemerry, berry, Nutella swirl and plain.</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>
        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2016 Constance Leaf</p>

        </footer>

      </div><!-- /.container -->





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>
