<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Village Bagel</title>

    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/carousel.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">

  </head>

  <body>

      <div class="navbar-wrapper">
        <div class="container">

          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Village Bagel</a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                  <li><a href="/our_company">Our Company</a></li>
                  <li><a href="/backdoor_bagels">Backdoor Bagels</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/order">Order</a></li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>

      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Our Company.
              <br />
              <span class="text-muted">The life of a traditional bagel is short. Move quickly and get them while they're hot!</span></h2>
            <p class="lead">
              Local owner and bagel connoisseur, Connie Leaf, grew up just outside
              New York City, where every neighborhood has its own family-run bagel
              shop. Connie's favorite childhood memories are of her cheery Grandfather
              walking through the front door every Saturday, brown paper bag in hand,
              filled with a variety of hot bagels and homemade shmears from the local
              bagelry. The bagel is to New York City what the croissant is to Paris.
              Ask any New Yorker living in Colorado: the majority of bagels you find in
              this state are just steamed, donut-shaped rolls, and simply NWTC (not worth the calories).
            </p>
          </div>
          <div class="col-md-5">
            <img src="images/logo.jpg" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7 col-md-push-5">
            <h2 class="featurette-heading">Placeholder.
              <span class="text-muted">Once you try an authentic bagel, you'll never eat the store bought ones again.</span></h2>
            <p class="lead">Village Bagel provides the Vail Valley with traditionally prepared bagels made locally
              by East Coast transplants. Leaf and partner spent months experimenting
              with different recipes, water solutions, and oven temperatures to bring
              the New York bagel experience to the Rocky Mountains. Chewy on the inside,
              crunchy exterior, and a rich, developed flavor made possible by a 24-hour
              fermentation process, eight simple ingredients, and a whole lotta love and
              passion hand-rolled into every bagel.</p>
          </div>
          <div class="col-md-5 col-md-pull-7">
            <img src="images/dough.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">Call us today. <span class="text-muted"></span></h2>
            <p class="lead">Village Bagel celebrates and represents tradition. We
              are committed to simple ingredients and old-world processes.  We
              hope to be an integral part of the local community, building lasting
              memories and passing on traditions like the ones we have from our
              childhood in New York. We are your neighborhood bagel shop, blending
              the East Coast breakfast culture with a Colorado spirit, and
              spreading happiness one warm bagel at a time. </p>
          </div>
          <div class="col-md-5">
            <img src="images/baking.png" class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->


        <!-- FOOTER -->
        <footer>
          <p class="pull-right"><a href="#">Back to top</a></p>
          <p>&copy; 2016 Constance Leaf</p>

        </footer>

      </div><!-- /.container -->





    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/custom.js"></script>

  </body>
</html>
